

<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "fi.metropolia.ismo"
versionCode="1"
version = "1.0.0">
<name>YouAreHere</name>
<description>
Project work at School
</description>
<author href="http://users.metropolia.fi/~ismop" email=ismo.paukamainen@metropolia.fi">
Ismo
</author>
<icon src="icon.png" />
<gap:platform name="android" />
<preference name="android-minSdkVersion" value="10" /> 
<preference name="splash-screen-duration" value="10000"/> 

<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="org.apache.cordova.vibration" />


</widget>
